@inherits LayoutComponentBase

<div class="min-h-screen bg-gradient-to-br from-primary-50 to-secondary-50 dark:from-gray-900 dark:to-gray-800">
    @Body
    <EduSetu.Components.Shared.Notification></EduSetu.Components.Shared.Notification>
</div>

